{% extends 'layout.html' %} 
{% load user_tags %}
{% load crispy_forms_tags %}
{% block title %} 
  Campañas
 {% endblock %} 

{% block content %}
<section >
  {% if user.is_authenticated %}
    {% if not user|has_group:"Administrator" %}
    <div class="m-2 p-2 bg-light">
      <form method="get" style="width:200px;">
        {{ filter.form|crispy }}
        <div class="col-12">
          <button type="submit" class="btn btn-success">Filter</button>
        </div>
      </form>
    </div> 
    {% endif %}
  {% endif %}
  
  <div class="card-grid">
    {% for campana in filter.qs %}
    <div class="card">
      <img class="banner" src="{{ campana.profile_img.url }}" alt="Image of {{ campana.title }}" />
      <div class="card-content">
        <h3 >
          <a class="card-title"  href="{% url 'campaigns:page' id=campana.id %}">
            {{ campana.title }}
          </a>
        </h3>
        <p class="card-by" >by {{ campana.user }}</p>
        <p><i class="fa-solid fa-location-dot"></i> {{ campana.direccion }}, Ecuador</p>
        
        <div class="card-footer">
          <div class="card-f">
            <p>Monto Reunido</p> 
            <p> ${{ campana.current_amount }}</p>
          </div>
          <div class="card-f">
            <p>Meta</p> 
            <p> ${{ campana.goal_amount }}</p> 
          </div>
          <p> {{ campana.days_remaining }} dias restantes</p>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>


</section>
  
{% endblock %}
